.title-heading{
  font-family: "Bitter", serif;
}

.input-label{
  margin-bottom: 0.4rem;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.profile-container{
    min-height: 800px;
  }
  
.profile-container .nav-tabs{
  border-bottom: none;
  flex-basis: 100%;
}
.profile-tab button{
  display: block;
} 
  .profile-container >.row{
    flex-basis: 100%;
  } 
  .profile-container  .nav-link{
  color: #000!important;
  font-weight: bold;
}

.profile-container .nav-link.active{
  background-color: rgb(146 141 141 / 22%)
}

.nav-tab-container{
  border-right: 1px solid #000;
}


.box{
  width: 600px;
  height: 600px;
  border: 1px solid #000;
}

.hidden{
  display:none;
}

.specific-tabs-section button {
  font-size: 1.2rem;
  color: #000;
}

.specific-tabs-section .nav-link.active {
  font-weight: bold;
}

.specific-item-info p {
  display: inline-block;
}

.specific-item-property {
  min-width: 200px;
}
  


  